@use '../mixins';



.blogs {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0px;
    gap: 20px;

    @include mixins.tablet-only {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        padding: 100px 0px;
    }

    @include mixins.desktop-only {
        width: 80%;
        margin: 0 auto;
        padding: 100px 0px;
        flex-direction: row;
        gap: 80px;
        flex-wrap: wrap;
    }
}

.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: 95%;
    height: auto;
    padding: 50px 20px;
    border-radius: 10px;
    transition: background-color 0.3s;
    background-color: #fff;


    &:hover {
        background-color: rgb(189, 189, 189, 0.3);
        cursor: pointer;
    }

    @include mixins.tablet-only {
        width: 35%;
        height: 250px;
    }

    @include mixins.desktop-only {
        width: 25%;
        height: 250px;
    }

}

.blog-name {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

.author-name {
    text-align: center;
    font-size: 1.2rem;
}

.blog-container {
    width: 100%;
    padding: 40px 20px;
    height: 100vh;

    @include mixins.tablet-only {
        height: 100vh;
    }

    @include mixins.desktop-only {
        height: 100vh;
        width: 70%;
        margin: 0 auto;
        padding: 60px 0px;
    }

    h1 {
        font-size: 2.4rem;
        font-weight: 500;
        border-bottom: 2px solid rgb(16, 16, 16);

        @include mixins.desktop-only {
            font-size: 4rem;
            margin: 0px 0px 10px;
            padding: 10px 0px;
        }
    }

    h2 {
        font-size: 1.5rem;
        font-weight: 300;
        margin: 20px 0px 40px;
        color: rgb(125, 125, 125);
        font-style: oblique;

        @include mixins.desktop-only {
            font-size: 1.8rem;
            margin: 40px 0px;


        }
    }
}

.blogpost-container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(196, 196, 196);
    padding: 10px 0px;

    .blogtitledate-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        cursor: pointer;
        flex-direction: column;

        &:hover {
            background-color: rgba(235, 235, 235, 0.4);
        }

        @include mixins.tablet-only {
            flex-direction: row;
            align-items: center;
        }

        @include mixins.desktop-only {
            flex-direction: row;
            padding: 10px 0px;
            align-items: center;
        }
    }

    .blogcontent-container {
        display: flex;
    }

    .blogpost-content-hide {
        display: none;
    }

    .blogpost-content {
        display: block;
        padding: 20px 0px;
        font-size: 1.3rem;

        @include mixins.desktop-only {
            font-size: 1.4rem;
        }
    }

    .blogpost-title {
        font-size: 1.5rem;
        font-weight: 500;
        display: inline-block;
        margin: 0;


        @include mixins.desktop-only {
            font-weight: 500;
            font-size: 1.8rem;
            display: inline-block;
        }
    }

    .blogpost-date {
        margin-right: 10px;
        font-size: 1.2rem;
    }

    .add-icon {
        background-image: url("../assets/plus.svg");
        background-position: center;
        background-size: cover;
        padding: 0px 20px 0px 0px;
        margin-right: 20px;
    }

    .minimize-icon {
        background-image: url("../assets/dash.svg");
        background-position: center;
        background-size: cover;
        padding: 0px 20px 0px 0px;
        margin-right: 20px;
        display: inline;
    }
}

.close-wrapper {
    display: none;
}
