@use '../mixins';

.new-post-container {
    padding: 50px 20px;

    @include mixins.desktop-only {
        width: 90%;
        margin: 0 auto;
        padding: 50px 0px;

    }

    .new-post input,
    .new-post textarea {
        display: block;
        margin: 5px 0px;
        width: 100%;
        border-radius: 10px;
        border: 1px solid grey;

    }


    #title {
        @include mixins.desktop-only {
            height: 50px;
            font-size: 2rem;
           
        }
    }

 
    textarea {
        resize: none;
        height: 20rem;
        padding: 5px;

        @include mixins.desktop-only {
            padding: 10px;
            height: 20rem;
            width: 100%;
            font-size: 1.6rem;
            
        }
    }
}

label {

    @include mixins.desktop-only {
        font-size: 3rem;
    }

}

button {
    margin: 20px 0px;
    border: none;
    border-radius: 10px;
    padding: 12px 20px;
    background-color: #000;
    color: #fff;
    font-weight: 500;
}