footer {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;

    span {
        padding: 0px;
        margin: 0;
        font-size: 0.9rem;
        display: block;
    }

    a {
        color: #F19372;

        &:hover {
            color: #F19372;
        }
    }
}