@use '../mixins';

footer {
    background-color: #182F41;
    color: #fff;
    height: 150px;
    margin: 0;
    padding: 0;
  
    

    p {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 0px;
        margin: 0;
        font-size: 1rem;
    }
}


