@use '../mixins';

// Nav styling

.navbar-brand {
    font-size: 1.8rem;
    padding: 0px 10px;
    font-weight: 700;

    @include mixins.desktop-only {
        font-size: 2rem;
        padding: 0px 30px;
    }
}

.navbar-dark .navbar-brand {
    color: #F19372;


        &:hover {
            color: #F19372;
        }
}


.navbar-nav {
padding: 20px 10px;
background-color: #182F41;;
}

.nav-item {
    font-size: 1rem;

    &:hover {
        text-decoration: underline;
    }

    @include mixins.desktop-only {
        padding: 0px 10px;
        font-size: 1.1rem;
    } 
}

.nav-item-underline {
    text-decoration: underline;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.navbar-light .navbar-nav .nav-link {
    color: #F19372;

    &:hover {
        color: #F19372;
    }
}

.navbar-dark .navbar-nav .nav-link {
    color: #F19372;

    &:hover {
        color: #F19372;
    }
}


