@use 'elements/navigation';
@use 'elements/content';
@use 'elements/blogs';
@use 'elements/blogpost-form';
@use 'elements/modal';
@use 'mixins';

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

body {
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-size: 14pt;
    height: 100%;
    background-color: #182F41;
    color:  #F19372;

    @include mixins.tablet-only {
      height: 100vh;
   }
    @include mixins.desktop-only {
     height: 100vh;
  }
  }
